@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Cormorant+Garamond&family=Libre+Baskerville&family=EB+Garamond&family=Lora&family=Crimson+Pro&family=Cardo&family=Spectral&display=swap');
@import "tailwindcss";

/* Background styling */
@layer components {
    .striped-bg {
        @apply bg-white;
        background-color: #EDEDED;
        background-image: repeating-linear-gradient(
                -45deg,
                rgba(96, 31, 31, 0.1) 0px,      /* stripe color */
                rgba(0, 0, 0, 0.08) 0.1px,      /* stripe thickness */
                transparent 2px,
                transparent 6px                 /* spacing */
        );
    }
}

@layer components {
    .chicago-bg {
        @apply relative bg-cover bg-center;
        background-image: url('../public/images/EFM-AnnSather_PICS/Chicago-Skyline2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@layer components {
    .faded-fixed-bg {
        @apply relative bg-[#EDEDED] text-[#2e2b28];
        background-image: url('../public/images/EFM-AnnSather_PICS/Chicago-Skyline2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; /* keeps it fixed when scrolling */
    }

    .faded-fixed-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #EDEDED; /* soft overlay color */
        opacity: 0.90;             /* how faded the background looks */
        pointer-events: none;
    }
}

/* ZoomOut effect for hero-img */
.animate-zoomOut {
    animation: zoomOut 12s ease-out forwards;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
}

@keyframes zoomOut {
    0% {
        transform: scale(1.15);
        filter: blur(0.3 px); /* prevents grid shimmer at start */
    }
    100% {
        transform: scale(1);
        filter: blur(0); /* crisp at end */
    }
}
